.form-box {
    width: 50%;
}

.access-form {
    width: 50%;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    border: 1px solid rgba(149, 160, 167, 1);
    width: 145px;
    margin: 15px;
}


/* -------- Media Queries --------*/

/* Mobile Devices */

@media only screen and (max-width: 688px) {
    .form-box {
        width: 75%;
    }

    .access-form {
        width: 75%;
    }
}