/* -------- Media Queries --------*/

/* Mobile Devices */

@media only screen and (max-width: 688px) {
    .review {
        flex-direction: column;
    }

    .review-field {
        margin-left: 15px;
        margin-top: 17px;
    }

    .review-text {
        margin-top: -35px;
        margin-left: -33px;
    }
}